/* Variables */

/* Primary Colors */

$violet: rgb(107, 54, 252);

$light-violet: rgb(147, 155, 244);

$very-dark-blue: rgb(25, 32, 45);

$midnight: rgb(18, 23, 33);

/* Secondary Colors */

$white: rgb(255, 255, 255);

$light-grey: rgb(244, 246, 248);

$gray: rgb(157, 174, 194);

$dark-grey: rgb(110, 128, 152);
