@use "app.scss";

@mixin button1 {
  background-color: $violet;
  border: none;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $light-violet;
  }
}

@mixin button2 {
  background-color: $light-grey;
  border: none;
  border-radius: 4px;
  color: $violet;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 141px;
  height: 48px;
  &:hover {
    background-color: $dark-grey;
  }
}

@mixin button2Dark {
  background-color: $very-dark-blue;
  border: none;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 141px;
  height: 48px;
  &:hover {
    background-color: $light-grey;
  }
}
